<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
</head>
<body>
	<!--   comment writting 
<div class="container">
<div class="row">
<div class="col">
  
  </div>
  </div>
</div>
-->
	<th:block th:insert="admin/header.html"></th:block>

	<div class="container-fluid">
		<div class="row" style="padding-top: 280px">
			<h3 class="text-center">Welcome to Admin Page</h3>
		</div>

	</div>

	<th:block th:insert="admin/footer.html"></th:block>
</body>

</html>