<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<th:block th:insert="admin/header.html"></th:block>


<div class="container mt-3">
		<table class="table table-striped">
			<thead>
				<tr>
					
					<th>PDF</th>
					<th>Excel</th>
				</tr>
				<tr><td><a href="admin/sellpdf"><button class="btn btn-succus">Download PDF</button></a></td>
				<tr><td><a href="admin/sellexcel"><button class="btn btn-succus">Download EXCEL</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>



<th:block th:insert="admin/footer.html"></th:block>
</body>
</html>