<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
<div class="row">
<div class="text-center">
<a href="/login"><button class="btn btn-primary">Login Form</button></a>
<a href="/signup"><button class="btn btn-success">Signup Form</button></a>

</div>
</div>
</div>
</body>
</html>